@mixin borderTop($color){
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: $color;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@mixin borderBottom($color){
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: $color;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@mixin borderRight($color){
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: $color;
  content: '';
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@mixin borderLeft($color){
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: $color;
  content: '';
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

@mixin border($color,$radius){
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $color;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}